 body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #regForm {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            border-top: 3px solid #e69500;
        }
        #regForm h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        #regForm label {
            font-weight: bold;
            color: #333;
            margin: 10px 0 5px;
            display: block;
        }
        .input-group {
            position: relative;
            margin: 15px 0;
        }
        .input-group i {
            position: absolute;          
            color: #888;
            margin-left: 15px;
            top: 50% ;
            transform: translatey(-50%)
           
            
        }
        .input-group input,
        .input-group select {
            width: 100%;
            padding: 10px 10px 10px 40px; /* space for the icon */
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            
        }
        
        .dropDown {
            background-color: #fff;
        }
       
        .btn {
            background-color: #ffa500;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;
            font-size: 16px;
           
        }
        .btn:hover {
            background-color: #e69500;
        }
        #regForm input[type="checkbox"] {
            margin-right: 5px;
        }
        .terms {
            margin: 10px 0;
            font-size: 14px;
        }
